@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  width: 80vw;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal ;
  color: #4d4d4d;
  background: #eceff1;
  margin: auto;
}

